<h1>Feed</h1>

<ul>
  <% @tweets.each do |article| %>
    <li>
      <strong><%= article.title %></strong> (<%= article.author %>):
      <%= article.body %>
      <%= article.created_at %>
      <%= link_to(article.title, article) %>
    </li>
  <% end %>
</ul>